/* $Id: page.css,v 1.13 2011/01/14 03:12:40 jmburnz Exp $ */

/**********************************************************
 *                    Body Classes
 **********************************************************/

body {
    padding: 0 10px;
    margin: 0;
    color:#E6ECDB;
    background:url(../Free-Background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}

/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see layout.css
 **********************************************************/
/**
 * Width Setting
 *
 * Genesis supports Elastic, Fluid and Fixed width values.
 * - Elastic layouts expand or contract when the font size is changed. 
 * - Fluid widths change when the browser is resized.
 * - Fixed width layouts stay the same even when the browser
 *   is resized or the font size is changed.
 *
 * Elastic layouts use ems,       e.g. 80em
 * Fluid layouts use percentages, e.g. 85%
 * Fixed widths use pixels,       e.g. 960px
 */
#container { 
    width: 960px; /* Width for IE6 */ 
    background-color:#68856B;
    background-color:#3e727a;
} 

body > #container { 
    width: 960px; /* Width for all other browsers */ 
    min-width: 760px; /* set a minimum width */ 
    /*max-width: 960px; set a maximum width */ 
} 


/* Column wrappers */
#columns {
    padding-left:10px;


}
.columns-inner {}

/* Content wrappers */
#content-column {}
.content-inner {}

/* Main content wrappers*/
#main-content {}
#content {}






/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding and #header-blocks. */
#header { 
    border:5px outset #579DA9;
    margin-bottom:10px; 
    background:url(../Free-Background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size:100%;

} 




/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
    float: left; /* LTR */
}

/* h1 is for the front page only, all others use the div. */
#branding h1 {
    font-size: 1em; /* reset h1, do not change! */
} 

/* Logo and site_name wrapper. */
.logo-site-name {

}
div.logo-site-name,
h1.logo-site-name  {}

/* Remove display:block if you want the site name inline with the logo. */
.logo-site-name span {
    display: block;
}

/* Logo. */
#logo { 
    position: relative; 
    float: left; 
    margin:25px;
}
#logo a>img{

    width:25%;
}
#site-name { 
    font-weight: bold; /* Bold or else the line heights vary. */ 
    font-size: 4em; 
    line-height: 1.5; 
    position: relative; 
    float: left; 
    left: -10px;
    top:10px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
} 

/* Override default pseudo class styles. */
#site-name a:link { 
    text-decoration: none; 
    color: #E6ECDB; 
} 

#site-name a:visited { 
    text-decoration: none; 
    color: #E6ECDB; 
} 


#site-name a:hover,
#site-name a:focus,
#site-name a:active  {}

/* Site slogan. */
#site-slogan {
    font-weight: bold;
}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions - be careful with this one, its easily 
 * over-ridden and will target sidebar inner DIVS as well.
 */
.region {

}

/**
 * Each region has a main wrapper DIV and an inner DIV.
 * The following selectors are follow the patter of:
 * #region-name
 * .region-inner-div-name
 */
/* Leaderboard */
#leaderboard {}
.region-leaderboard {}

/* Header blocks */
#header-blocks {
    float: right;
}
.region-header {}

/* Help */
#help {}
.region-help {}

/* Highlight */
#highlighted {}
.region-highlighted {}

/* Secondary content */
#secondary-content {}
.region-secondary-content {}

/* Tertiary content */
#tertiary-content {}
.region-tertiary-content {}

/* Tertiary content */
#footer {}
.region-footer {}

/**
Main Menu Links
*/
#main-menu-wrapper { 
    background-color:#287314; 
    border-bottom:2px solid #9CD88C; 
    height:25px; 
} 
.main-menu-inner { 
    position: relative; 
    float: left; 
    height: 25px; 
} 

.main-menu-inner ul.menu li { 
    display: inline; 
    list-style: none; 
    border-right: 1px solid #9CD88C; 
    padding-right: 10px; 
    padding-left: 10px; 
    padding-bottom: 3px; 
}
.main-menu-inner ul.menu li a { 
    color: #ffffff; 
    text-decoration: none; 
} 

.main-menu-inner ul.menu li a:hover { 
    color: #000; 
} 




/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}
.sidebar .region {}

/* Target a specific sidebar. */
#sidebar-first {}
.sidebar .region-sidebar-first {}

#sidebar-second {}
.sidebar .region-sidebar-second {}


/**********************************************************
 *          Search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/* Search page fieldset. */
#search-form {}

/* Basic search form. */
#search-form #edit-basic {}

/* Advanced search form. */
#search-form #edit-advanced {}

/* Use the child selector because the inner div has no class. */
#search-form > div {}
#search-form .container-inline {}
#search-form #edit-keys {}

#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* Override forms.css text field focus style. */
#search-form #edit-keys:hover,
#search-form #edit-keys:focus {}

/* Search results list. */
ol.search-results {
    padding: 0;
    margin: 0;
}
ol.search-results li {}
ol.search-results .title {}
ol.search-results p {}
ol.search-results .search-snippet {}
ol.search-results .search-info {}


/**********************************************************
 *                Footer, RSS Feed Icon
 **********************************************************/
#footer {
    background-color: #9CD88C;
    height:100px;
    padding:10px;
    border-top:2px solid #287314;
}

#footer .region {}

.feed-icon {}
.feed-icon img {
    padding:0 0.5em;
}





/*custom CSS adjustments*/

#relatedWalkthroughs{
    background:#3E727A;
    padding:5px;
    position:relative;
    top:0;
    left:0;
}
#relatedWalkthroughs a{
    text-decoration: none;
    font-weight: bold;
    font-size:110%;
    color:white;
}
#walkthroughTitle .pane-content{
    font-size:200%;
    font-weight:bold;
    color:white;
}

.pane-content{
    background-color:#579DA9;;
    padding:1em;
}

.pane-content iframe{
    margin-left:-0.86em;
}
.comment-title a{
    font-size:110%;
    color: white;
}
#edit-subject{
    width:99.5%;
}
.pane-content{
    outline: 3px inset #3E727A
}

#panels-ipe-paneid-35 .pane-content,#panels-ipe-paneid-34 .pane-content{
    background:url(../Free-Background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size:100%;

    //border:5px solid white;
}
#edit-comment-body-und-0-format{
    max-width:100%;
}

.comment{
    background-color:#579DA9;
    padding:1em;
    outline:3px outset #3E727A;
    overflow:hidden;
}
.comment .user-picture{
    width:5em;
}
.comment .user-picture img{
    width:100%;
}

.panel-pane,.pane-node-field-video-embed-test .pane-content{
    background:url(../Free-Background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size:100%;
}

.pane-content iframe{
    outline:3px inset #579DA9;
}
.walkthroughComments .pane-content{
    background:url(../Free-Background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size:100%;
}
.walkthroughComments label{
   background: #579DA9;
       padding:0.5em;
}

fieldset#edit-comment-body-und-0-format.filter-wrapper.form-wrapper{
    float:left;
    width:100%;
    overflow:hidden;
    border:none;
    margin-left:-20px;
}

//temproray hiding 
.pane-title{
    display:none;
}
h2{
    display:none;
}


